body{
    background-image: url('butter_dog.gif');
    background-size: contain;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
